<a href="https://colab.research.google.com/github/davicsilva/IPythonNotebookExample/blob/master/PDF2CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Extratc Table from PDF

In [ ]:
# Lib: Tabula-py
# Important link: 
#
!pip install tabula-py

In [16]:
# Load libs
import tabula

In [17]:
# Set the path to your PDF file
pdf_file_path = '/content/sample_data/table.pdf'

In [18]:
# Specify the page number(s) or range of pages containing the table
# For example, to extract table from page 1: pages='1'
# For example, to extract table from pages 1 to 3: pages='1-3'
pages = '1'

In [19]:
# Extract the table from the PDF
df = tabula.read_pdf(pdf_file_path, pages=pages)

In [20]:
# Print the extracted table
print(df)

[    Unnamed: 0    Unnamed: 1 Unnamed: 2   Unnamed: 3    Unnamed: 4  \
0          NaN           NaN        NaN      Ballots           NaN
1   Disability           NaN    Ballots          NaN           NaN
2          NaN  Participants        NaN  Incomplete/           NaN
3     Category           NaN  Completed          NaN      Accuracy
4          NaN           NaN        NaN   Terminated           NaN
5          NaN           NaN        NaN          NaN           NaN
6        Blind             5          1            4    34.5%, n=1
7   Low Vision             5          2            3     98.3% n=2
8          NaN           NaN        NaN          NaN  (97.7%, n=3)
9    Dexterity             5          4            1    98.3%, n=4
10    Mobility             3          3            0    95.4%, n=3

            Results
0               NaN
1               NaN
2               NaN
3           Time to
4               NaN
5          complete
6     1199 sec, n=1
7     1716 sec, n=3
8   (1934 sec, n=2)
9   1672.1 sec, n=4
10    1416 sec, n=3  ]